body {
  font-family: "OpenSans";
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:active {
  color: #aaa;
}

.no-pointer {
  pointer-events: none;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 85px;
}

.copy {
  font-family: "OpenSans";
}

.headline {
  font-family: "TradeGothic-BoldCondTwenty";
}

.root {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

h1 {
  margin: 0;
  padding: 0;
  font: bold 5em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

h2 {
  margin: 0.5em 0;
  font: bold 2.5em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: capitalize;
}

h3 {
  margin: 0.5em 0;
  font: bold 1.75em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: capitalize;
}

.issue {
  margin: 85px 0 0 0;
}

.issue-image {
  width: 100vw;
  /*background-size: cover;*/
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-position-y: -88px;
}

.issue-title {
  margin: 0.25em 0 0 0;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reading-list {
  width: 100%;
  padding-right: 25px;
}

.site-name { display: none; }

.issue-brief {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}

.issue-brief div {
  font-family: Sabon;
  font-size: 1.125em;
  line-height: 1.5;
  padding: 0 40vw 0 0;
  margin: 0 0 1.25em 0;
}

.issue-head {
  margin: 20px 20px 0 20px;
}

.issue-head h1 {
  margin-top: 0;
  border-bottom: 1px solid #888;
}

.reading-list-block {
  margin-left: 20px;
}


.reading-list-block h2 {
  display: inline-block;
  border-bottom: 1px solid #888;
}


.article-item {
  width: 275px;
  /*border: 1px solid #555;*/
  margin: 0 10px;
  overflow: hidden;
  padding-bottom: 5px;
  /*background-color: #fff;*/
  font-family: "OpenSans";
}

.article-item-image {
  width: 125%;
  left: -20%;
  position: relative;
}

.article-item-title {
  line-height: 1.25;
}

.article-item:hover > .article-item-title {
  font-weight: bold;
  text-decoration: underline;
}

.reading-list-small .article-item {
  width: 390px;
  display: flex;
  height: 150px;
  align-items: flex-start;
  justify-content: flex-start;
}

.reading-list-small .article-item-image {
  width: 50%;
  left: initial;
}

.reading-list-small .article-item-title {
  padding-left: 5px;
}
