body {
  font-family: "OpenSans";
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:active {
  color: #aaa;
}

.no-pointer {
  pointer-events: none;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 85px;
}

.copy {
  font-family: "OpenSans";
}

.headline {
  font-family: "TradeGothic-BoldCondTwenty";
}

.root {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

h1 {
  margin: 0;
  padding: 0;
  font: bold 5em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

h2 {
  margin: 0.5em 0;
  font: bold 2.5em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: capitalize;
}

h3 {
  margin: 0.5em 0;
  font: bold 1.75em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: capitalize;
}

.issue {
  margin: 85px 0 0 0;
}

.issue-image {
  width: 100vw;
  /*background-size: cover;*/
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-position-y: -88px;
}

.issue-title {
  margin: 0.25em 0 0 0;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reading-list {
  width: 100%;
  padding-right: 25px;
}

.site-name { display: none; }

.issue-brief {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}

.issue-brief div {
  font-family: Sabon;
  font-size: 1.125em;
  line-height: 1.5;
  padding: 0 40vw 0 0;
  margin: 0 0 1.25em 0;
}

.issue-head {
  margin: 20px 20px 0 20px;
}

.issue-head h1 {
  margin-top: 0;
  border-bottom: 1px solid #888;
}

.reading-list-block {
  margin-left: 20px;
}


.reading-list-block h2 {
  display: inline-block;
  border-bottom: 1px solid #888;
}


.article-item {
  width: 48%;
  margin: 0 10px 20px 10px;
  overflow: hidden;
  padding-bottom: 10px;
  font-family: "OpenSans";
  border-bottom: solid 1px #dfdfdf;
  display: flex;
}

.article-item-left {
  width: 40%;
}

.article-item-details {
  width: 60%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.article-item-image {
  width: 100%;
}

.article-item-title {
  line-height: 1.25;
  /*font-family: "TradeGothic";*/
  font-size: 16px;
}

.article-item-byline {
  font-size: 0.6em;
  margin: 8px 0;
}

.article-item-blurby {
  font-size: 14px;
  line-height: 1.5;
}

.article-item:hover > .article-item-title {
  font-weight: bold;
  text-decoration: underline;
}

.reading-list-small .article-item {
  width: 390px;
  display: flex;
  height: 150px;
  align-items: flex-start;
  justify-content: flex-start;
}

.reading-list-small .article-item-image {
  width: 50%;
  left: initial;
}

.reading-list-small .article-item-title {
  padding-left: 5px;
}

.read-marker {

}

.read-marker ~ .save-marker {
  color: #a2a2a2;
}

.save-marker {
  cursor: pointer;
}


.article-tool-tip {
  position: fixed;
  border: solid 1px #a2a2a2;
  z-index: 1000;
  padding: 3px;
  font-size: 0.75rem;
  background-color: rgb(244, 244, 244);
}

.personal-reading-list {
  padding: 0;
  margin: 0;
  width: 60%;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 20px 20px;
}

.reading-list-item {
  display: flex;
  margin: 15px 0 0 0;
  width: 100%;
  border-bottom: solid 1px #a2a2a2;
  padding-bottom: 15px;
}

.reading-list-item:last-child {
  border-bottom: none;
}

.reading-list-item .item-title {
  display: block;
  font-size: 1.125rem;
}

.reading-list-item .item-duration {
  font-size: 0.85rem;
  display: flex;
  justify-content: flex-end;
}

.reading-list-item .item-duration span {
  margin-right: 3px;
}

.reading-list-item .item-byline {
  font-size: 0.65rem;
}

.reading-list {
  list-style-type:
}

.personal-reading-list-title {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: bold;
}

.add-all {
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 10px;
  font-size: 1.125rem;
  width: 225px;
  display: inline-block;
  position: relative;
  top: -10px;
  display: none;
}
